.gallery__container {
	padding: 3rem;
}

.gallery__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}

.gallery__items--item {
	position: relative;
	width: 20%;
	min-width: 32rem;
	height: 50rem;
	border: 1px solid white;
	background-color: var(--blue-color);
	border-radius: 1rem;
	filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.2));
}

.gallery__items--item.hide {
	display: none;
}

.gallery__items--item.show {
	display: block;
	animation: show .5s ease;
}

@keyframes show {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.gallery__items--item img {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	border-radius: 1rem 1rem 0 0;
	object-fit: cover;
	filter: blur(2px);
}

.gallery__items--item img:hover {
	filter: blur(0px);
}


.gallery__item--caption {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 8rem;
	color: #ffffff;
	text-shadow: 1px 1px 2px black;
	overflow: hidden;

}

.gallery__item--title {
	display: flex; 
	justify-content: center;
	height: 3rem;
	line-height: 3rem;
	font-size: var(--font-big);
	vertical-align: center;
	padding: 2rem;
}

.gallery__item--description {
	font-size: 0;
	color: var(--black-text);
	padding: 2rem;
	overflow: hidden;
}

.gallery__item--tag {
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}



.gallery__item--tag a {
	display: inline-block;
	width: 10rem;
	height: 3rem;
	text-align: center;
	line-height: 3rem;
	vertical-align: center;
	font-size: var(--font-mid);
	color: white;
}

.gallery__item--tag a:hover {
	color: rgb(86, 86, 219);
}